# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
conda-env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# MLflow
mlruns/
mlflow.db

# ML models
models/*.pkl
models/*.joblib
models/*.h5
models/*.pt

# Datasets
data/*.csv
data/*.xlsx

# Logs
*.log

# Docker images
*.tar

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db