# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/

# MLflow
mlruns/
mlflow.db

# Model artifacts (optional)
*.tar

# Temporary files
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db